
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-th-large:before { content: '\e809'; } /* '' */
.icon-th:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-plus:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-thumbs-down:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-basket:before { content: '\e813'; } /* '' */
.icon-resize-small:before { content: '\e814'; } /* '' */
.icon-resize-full:before { content: '\e815'; } /* '' */
.icon-down-open:before { content: '\e816'; } /* '' */
.icon-left-open:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e818'; } /* '' */
.icon-up-open:before { content: '\e819'; } /* '' */
.icon-down-dir:before { content: '\e81a'; } /* '' */
.icon-up-dir:before { content: '\e81b'; } /* '' */
.icon-left-dir:before { content: '\e81c'; } /* '' */
.icon-right-dir:before { content: '\e81d'; } /* '' */
.icon-credit-card:before { content: '\e81e'; } /* '' */
.icon-camera:before { content: '\e81f'; } /* '' */
.icon-cancel-circled:before { content: '\e820'; } /* '' */
.icon-info-circled:before { content: '\e821'; } /* '' */
.icon-help-circled:before { content: '\e822'; } /* '' */
.icon-home:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e824'; } /* '' */
.icon-location:before { content: '\e825'; } /* '' */
.icon-calendar:before { content: '\e826'; } /* '' */
.icon-clock:before { content: '\e827'; } /* '' */
.icon-zoom-out:before { content: '\e828'; } /* '' */
.icon-zoom-in:before { content: '\e829'; } /* '' */
.icon-link:before { content: '\e82a'; } /* '' */
.icon-attach:before { content: '\e82b'; } /* '' */
.icon-pin:before { content: '\e82c'; } /* '' */
.icon-eye:before { content: '\e82d'; } /* '' */
.icon-eye-off:before { content: '\e82e'; } /* '' */
.icon-tag:before { content: '\e82f'; } /* '' */
.icon-tags:before { content: '\e830'; } /* '' */
.icon-print:before { content: '\e831'; } /* '' */
.icon-attention:before { content: '\e832'; } /* '' */
.icon-attention-circled:before { content: '\e833'; } /* '' */
.icon-trash-empty:before { content: '\e834'; } /* '' */
.icon-login:before { content: '\e835'; } /* '' */
.icon-logout:before { content: '\e836'; } /* '' */
.icon-right-hand:before { content: '\e837'; } /* '' */
.icon-left-hand:before { content: '\e838'; } /* '' */
.icon-up-hand:before { content: '\e839'; } /* '' */
.icon-down-hand:before { content: '\e83a'; } /* '' */
.icon-spin5:before { content: '\e83b'; } /* '' */
.icon-spin6:before { content: '\e83c'; } /* '' */
.icon-spin4:before { content: '\e83d'; } /* '' */
.icon-truck:before { content: '\e83e'; } /* '' */
.icon-infinity:before { content: '\e83f'; } /* '' */
.icon-clock-1:before { content: '\e840'; } /* '' */
.icon-bookmark:before { content: '\e841'; } /* '' */
.icon-cog-alt:before { content: '\e842'; } /* '' */
.icon-cog:before { content: '\e843'; } /* '' */
.icon-briefcase:before { content: '\e844'; } /* '' */
.icon-check:before { content: '\e845'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-odnoklassniki-square:before { content: '\f264'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */