extends blocks/layout

//- Модифицируем head
block title
    title #{projectName} - Главная

//- Модифицируем шапку
block header
    include blocks/header

//- Модифицируем контент
block content
    include blocks/main

block footer





