.header-line {
  width: 100%;
  position: relative;
  height: 100px;
  border-bottom: 1px solid lighten($gray-lighter, 15%);
}


.logo-block {
  width: 300px;
  height: 100px;
  position: relative;
  a {
    display: block;
    width: 300px;
    height: 76px;
    position: relative;
    margin: 12px 0;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @include retina {
    a {
      background: url("../images/logo@2x.png") no-repeat left top;
      background-size: 100% 100%;
      img {
        display: none;
      }
    }
  }
}