// Page header
.container
    .header-line
        .row
            .col-xs-12.col-sm-3
                +logoBlock('images/logo.png')
            .col-xs-12.col-sm-9
                nav.main-menu
                    ul
                        li
                            a(href="#") Сказки
                        li
                            a(href="#") Мифы
                        li
                            a(href="#") Басни
                        li
                            a(href="#") Песни
                        li
                            a(href="#") Мультики
                        li
                            a(href="#")
                                span.icon-search
                        li
                            a(href="#")
                                span.icon-facebook
                        li
                            a(href="#")
                                span.icon-vkontakte
                        li
                            a(href="#")
                                span.icon-youtube

