.hero-unit
    +bxSlider({
        0: {
            'image': 'images/content/slide-1.jpg',
            'title': 'Название продукта',
            'text': 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh. Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh. Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh. Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
        },
        1: {
            'image': 'images/content/slide-2.jpg',
            'title': 'Название продукта',
            'text': ''
        },
        2: {
            'image': 'images/content/slide-3.jpg',
            'title': 'Название продукта',
            'text': 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
        }
    })
