.container
    .row
        .col-xs-12.col-sm-3
            .post-item
                .image-wrap
                    a(href="")
                        img(src="/images/content/image1.jpg" alt="Орфей в подземном царстве")
                .title
                    a(href="") Орфей в подземном царстве
                .description
                    p Великий певец Орфей, сын речного бога Эагра и музы Каллиопы, жил в далекой Фракии. Женой Орфея была прекрасная нимфа Эвридика. Горячо любил ее певец Орфей. Но недолго наслаждался Орфей счастливой жизнью с женой своей.
        .col-xs-12.col-sm-6
            .hero-unit
        .col-xs-12.col-sm-3
            .banner-block

