.news-block
    .container
        .row
            .col-xs-12
                .block-title Последние новости
        .row
            .col-xs-12.col-sm-6
                .news-item
                    .title SUMMER FANCY FOOD DI NEW YORK
                    p Veniteci a trovare al Level 3, stand numero 3004…vi attendiamo con tutte le nostre novità!
            .col-xs-12.col-sm-6
                .news-item
                    .title DALLA TUTTOFOOD 2015!
                    p E anche quest’avventura è stata vissuta!
            .col-xs-12.col-sm-6
                .news-item
                    .title Buon Natale e Felice Anno Nuovo
                    p Buon Natale e Felice Anno Nuovo
            .col-xs-12.col-sm-6
                .news-item
                    .title SIAL 2014
                    p Paris! La capitale francese ci attende nuovamente per la prossima edizione dell’evento fieristico…venite a trovarci dal 18 al 23 Ottobre al Padiglione 1, stand G23! Vi attendiamo numerosi!

