+productsBlock({
    0: {
        title: 'Оливковое масло Экстра Верджин Умбрия ДОП',
        image: '/images/content/catalog-image.jpg',
        text: 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
    },
    1: {
        title: 'Оливковое масло Экстра Верджин Натура Сана БИО',
        image: '/images/content/catalog-image.jpg',
        text: 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
    },
    2: {
        title: 'Оливковое масло Экстра Верджин Колдоро',
        image: '/images/content/catalog-image.jpg',
        text: 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
    },
    3: {
        title: 'Оливковое масло Экстра Верджин 100% Итальяно',
        image: '/images/content/catalog-image.jpg',
        text: 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
    },
    4: {
        title: 'Оливковое масло Санса ди Олива',
        image: '/images/content/catalog-image.jpg',
        text: ''
    },
    5: {
        title: 'Масло оливковое первого холодного отжима ароматизированное лимоном',
        image: '/images/content/catalog-image.jpg',
        text: 'Lorem ipsum dolor sitem amet consectetuerut adipiscing elitum sed diam nonummy nibh.'
    },
    6: {
        title: 'Масло оливковое первого холодного отжима ароматизированное трюфелем',
        image: '/images/content/catalog-image.jpg',
        text: ''
    },
    7: {
        title: 'Масло оливковое первого холодного отжима ароматизированное розмарином',
        image: '/images/content/catalog-image.jpg',
        text: ''
    }
})
